################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Elastic.SemanticKernel.Playground/obj
/Rag.SemanticKernel.App/bin/Debug
/Rag.SemanticKernel.App/obj
